@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Common styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  color: inherit;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* Buttons */
.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

/* Backgrounds */
.basic {
  background-color: #82B3D3;
}

.secondary {
  background-color: rgba(131, 179, 211, 20%);
}

.light {
  background-color: rgba(131, 179, 211, 12%);
}

.dark {
  background-color: #756157;
}

.info {
  background-color: #7DB54F;
}

/* Page header */
.navigation {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 168px;
}

.navigation-item {
  list-style: none;

}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.navigation-link.active {
  text-decoration: underline solid #756257;
  text-underline-offset: 23px;
  text-decoration-thickness: 2px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-user-item {
  list-style: none;
}

.navigation-user-link {
  position: relative;
  padding: 22px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.icon-search {
  background-image: url("../images/icon-search.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-favorite-counter {
  background-image: url("../images/icon-favorite-counter.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.favorite-counter {
  position: absolute;
  left: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-left: 4px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7DB54F;
  border-radius: 10px;
}

.header-button {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  padding: 8px 34px;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:focus {
  background-color: #615048;
}

.header-button:active {
  color: rgba(255, 255, 255, 0.3);
}


/* Main index */
.hero {
  padding-top: 50px;
  padding-bottom: 83px;
  color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-color: #3F5E72;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.main-heading {
  margin: 0 auto;
  padding: 69px 270px 90px 270px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: inherit;
}

.main-heading-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.main-heading p {
  margin: 0;
  padding: 25px 0 0 0;
}


/* Advantages */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.advantages-item-row {
  display: flex;
  width: 100%;
}

.advantages-item-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.advantages-text-wrap {
  width: 400px;
  padding: 102px 85px;
}

.advantages-item {
  width: 400px;
  padding: 114px 85px;
}

.advantages-title {
  margin: 0;
  padding: 0 0 60px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.advantages-image {
  display: block;
  object-fit: contain;
  margin: auto;
}

.basic .advantages-title {
  color: #ffffff;
}

.basic .advantages-description {
  color: #ffffff;
  background-color: #82B3D3;
}

.second-heading {
  margin: 0 auto;
  padding: 63px 340px 65px 340px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: inherit;
}

.second-heading-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.second-heading p {
  margin: 0;
  padding: 20px 0 0 0;
}


/* Services */
.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.services-item {
  width: 400px;
  padding:183px 83px 83px 83px;
}

.services-title {
  margin: 0;
  padding: 0 0 11px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.icon-home {
  background-image: url("../images/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
}

.icon-food {
  background-image: url("../images/icon-food.svg");
  background-repeat: no-repeat;
  background-position: center 82px;
}

.icon-gift {
  background-image: url("../images/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center 79px;
}

.search-heading {
  margin: 0 auto;
  padding: 76px 304px 96px 304px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: inherit;
}

.search-heading-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-heading p {
  margin: 0;
  padding: 20px 0 0 0;
}


.button-heading {
  margin-top: 54px;
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

/* Newsletter */
.newsletter {
  margin: 0 auto;
  padding: 96px 258px 103px 258px;

  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #82B3D3;
  text-align: center;
  color: #ffffff;
}

.newsletter-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  padding: 56px 0 0 0;
  font-family: inherit;
}

.newsletter-field {
  padding: 14px 230px 14px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.newsletter-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 4px 4px 0;
}

/* Page footer */
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 70px;
}

.social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-item {
  padding: 13px 11px;
}

.social-item a {
  display: block;
  padding: 11px 13px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-item-vk {
  width: 24px;
  height: 14px;
  background-image: url("../images/social-item-vk.svg");
}

.social-item-telegram {
  width: 24px;
  height: 15px;
  background-image: url("../images/social-item-telegram.svg");
}

.social-item-youtube {
  width: 22px;
  height: 17px;
  background-image: url("../images/social-item-youtube.svg");
}

.phone {
  margin: 0;
  padding: 11px 0 0 0;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.htmlacademy-link {
  margin: 0;
  padding: 15px 0 0 0;
}

/* Page header */
.inner-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 35px 0 0 70px;
  color: #ffffff;
  background-image: url("../images/inner-background.jpg");
  background-repeat: no-repeat;
  background-color: #82B3D3;
  background-size: cover;
  background-position: center;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-icon {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../images/breadcrumbs-icon.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.inner-filter {
  display: flex;
  margin: 0;
  padding: 0;
}

.inner-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.inner-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.inner-filter-list {
  margin: 0;
  padding: 0;
}

.container-products {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}

.sort-products {
  display: flex;
  flex-direction: row;
  margin: 0 0 40px 0;
}

.controls {
  font-weight: 400;
  line-height: 23px;
}

.inner-filter-list {
  list-style: none;
}

.button-apply {
  padding: 8px 50px;
  border: none;
}

.button-reset {
  padding: 8px 50px;
  background-color: transparent;
  border: none;
}

.sort-products-title {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
}

.select-control {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: 21px;
  color: #333333;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  outline-width: 0;
}


.view-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.view-buttons-item {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.view-buttons-item {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  list-style: none;

}

.view-buttons-item a {
  display: block;
  padding: 17px;
  padding-left: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.view-button-tile {
  display: block;
  width: 16px;
  height: 14px;
  background-image: url("../images/view-button-tile.svg");
  background-repeat: no-repeat;
}

.view-button-card {
  display: block;
  width: 16px;
  height: 14px;
  background-image: url("../images/view-button-card.svg");
  background-repeat: no-repeat;
}

.view-button-list {
  display: block;
  width: 16px;
  height: 14px;
  background-image: url("../images/view-button-list.svg");
  background-repeat: no-repeat;
}

.product-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.product-card {
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 0 1px #E6E6E6;
  border-radius: 4px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.product-card-rating {
  width: 140px;
  height: 37px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  background-color: #82B3D3;
  color: #ffffff;
  border-radius: 4px;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-more {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;
}

.main-inner .newsletter {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.main-inner .newsletter-description {
  color: #333333;
}

.main-inner .newsletter-field {
  background-color: #F2F2F2;
}
