@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Common styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Backgrounds */
.basic {
  background-color: #82b3d3;
}

.secondary {
  background-color: rgba(131, 179, 211, 20%);
}

.light {
  background-color: rgba(131, 179, 211, 12%);
}

.dark {
  background-color: #756157;
}

.info {
  background-color: #7db54f;
}

.colorless {
  background-color: transparent;
}

/* Buttons */
.button {
  display: inline-block;
  margin: 0;
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.basic:hover,
.button.basic:focus,
.button.basic:hover:enabled {
  background-color: #68a2ca;
}

.button.basic:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button.info:visited {
  background-color: #7db54f;
}

.button.info:hover,
.button.info:focus,
.button.info:hover:enabled {
  background-color: #6c9e42;
}

.button.info:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}


.button.dark:visited {
  background-color: #756157;
}

.button.dark:hover,
.button.dark:focus,
.button.dark:hover:enabled {
  background-color: #615048;
}

.button.dark:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button.colorless:visited {
  background-color: transparent;
}

.button.colorless:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.button.colorless:focus {
  outline: 3px solid #83b3d3;
}

.button.colorless:active {
  outline: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button.basic.disabled,
.button.info.disabled,
.button.dark.disabled,
.button.basic:disabled,
.button.info:disabled,
.button.dark:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
  pointer-events: none;
}

.button.colorless.disabled,
.button.colorless:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  color: inherit;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* Page header */
.navigation {
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.navigation-logo:hover {
  opacity: 0.9;
}

.navigation-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 168px;
  max-width: 792px;
}

.navigation-item {
  list-style: none;
}

.navigation-link {
  display: inline-block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.navigation-link:visited {
  color: #000000;
}

.navigation-link[href]:hover {
  color: #333333;
}

.navigation-link.active,
.navigation-link:active {
  text-decoration: underline solid #756257;
  text-underline-offset: 23px;
  text-decoration-thickness: 2px;
  cursor: default;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation-user-item {
  list-style: none;
}

.navigation-user-link {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 100%;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

.navigation-user-link:hover {
  opacity: 0.9;
}

.icon-search {
  background-image: url("../images/icon-search.svg");
  background-position: center 23px;
  background-repeat: no-repeat;
}

.icon-favorite-counter {
  background-image: url("../images/icon-favorite-counter.svg");
  background-position: center 23px;
  background-repeat: no-repeat;
}

.favorite-counter {
  position: absolute;
  left: 20px;
  top: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 5px 4px 4px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  background-color: #7db54f;
  border-radius: 10px;
}

.header-button {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
  padding: 8px 34px;
}

/* Main index */
.main-index,
.main-inner {
  flex-grow: 1;
}

.hero {
  padding: 50px 100px 83px 100px;
  color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-color: #4f7ca6;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.main-heading {
  margin: 0 auto;
  padding: 69px 270px 90px 270px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: inherit;
}

.main-heading-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.main-heading p {
  margin: 0;
  padding: 25px 0 0 0;
}

/* Advantages */
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.advantages-item-row {
  display: flex;
  width: 100%;
}

.advantages-item-reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.advantages-text-wrap {
  width: 400px;
  padding: 102px 85px;
}

.advantages-item {
  width: 400px;
  padding: 114px 85px;
}

.advantages-title {
  position: relative;
  margin: 0;
  padding: 0 0 60px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title::after {
  position: absolute;
  left: 85px;
  bottom: 30px;
  width: 60px;
  height: 2px;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.advantages-image {
  display: block;
  object-fit: cover;
  margin: auto;
  height: 100%;
}

.basic .advantages-title {
  color: #ffffff;
}

.basic .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.basic .advantages-description {
  color: #ffffff;
  background-color: #82b3d3;
}

.second-heading {
  margin: 0 auto;
  padding: 63px 340px 65px 340px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: inherit;
}

.second-heading-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.second-heading p {
  margin: 0;
  padding: 20px 0 0 0;
}

/* Services */
.icon-home {
  background-image: url("../images/icon-home.svg");
  background-repeat: no-repeat;
  background-position: center top 81px;
}

.icon-food {
  background-image: url("../images/icon-food.svg");
  background-repeat: no-repeat;
  background-position: center top 82px;
}

.icon-gift {
  background-image: url("../images/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: center top 79px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.services-item {
  width: 400px;
  padding: 183px 83px 62px 83px;
}

.services-title {
  margin: 0;
  padding: 0 0 11px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.search-heading {
  margin: 0 auto;
  padding: 97px 304px 96px 304px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: inherit;
}

.search-heading-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-heading p {
  margin: 0;
  padding: 20px 0 0 0;
}

.button-heading {
  margin-top: 54px;
  padding: 8px 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

/* Newsletter */
.newsletter {
  margin: 0 auto;
  padding: 96px 259px 103px 258px;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4f7ca6;
  text-align: center;
  color: #ffffff;
}

.newsletter-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  padding: 55px 0 0 0;
  font-family: inherit;
}

.newsletter-field {
  width: 454px;
  padding: 14px 20px 14px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.newsletter-field:focus {
  outline: 3px solid #83b3d3;
}

.newsletter-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 4px 4px 0;
}

/* Page footer */
.social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 40px 70px 30px 70px;
  text-align: center;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list-item {
  position: relative;
  margin: 0;
  padding: 0;
}

.social-item-link {
  display: inline-block;
  width: 47px;
  height: 40px;
}

.social-item-icons {
  position: absolute;
  top: 17px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  fill: #83b3d3;
}

.social-item-link:hover path {
  fill: #68a2ca;
}

.social-item-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.phone {
  display: block;
  margin: 0;
  padding: 6px 0 0 0;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.phone:visited {
  color: #000000;
}

.phone:hover,
.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  margin: 0;
  padding: 9px 0 0 0;
}

.htmlacademy-icon {
  fill: #000000;
}

.htmlacademy-link:visited path {
  fill: #000000;
}

.htmlacademy-link:hover path,
.htmlacademy-link:focus path {
  fill: #756157;
}

.htmlacademy-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Page header */
.inner-header {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 35px 70px 70px 70px;
  color: #ffffff;
  background-image: url("../images/inner-background.jpg");
  background-repeat: no-repeat;
  background-color: #4f7ca6;
  background-size: cover;
  background-position: center;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 7px 0 0 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 29px;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.breadcrumbs-icon {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../images/breadcrumbs-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-icon:hover {
  opacity: 0.8;
}

.breadcrumbs-item::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -19px;
  width: 8px;
  height: 11px;
  transform: translateY(-50%);
  background: url("../images/breadcrumbs-icon-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child::before {
  content: none;
}

.inner-filter-form {
  margin: 0;
  padding: 40px 0 0 0;
}

.inner-filter {
  display: flex;
  column-gap: 70px;
  margin: 0;
  padding: 0;
}

.inner-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.inner-filter-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.inner-filter-list {
  margin: 0;
  padding: 16px 0 0 0;
}

.inner-filter-item {
  padding: 18px 0 0 0;
}

/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 12px;
  height: 10px;
  background: url("../images/icon-check-mark.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input + .control-mark {
  background-color: #ffffff;
  cursor: pointer;
}

.control-input ~ .control-label {
  color: #ffffff;
  cursor: pointer;
}

.control-input:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input:hover ~ .control-label {
  color: rgba(255, 255, 255, 0.6)
}

.control-input:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input:active ~ .control-label {
  color: rgba(255, 255, 255, 0.3)
}

.control-input:disabled + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.control-input:disabled ~ .control-label {
  color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

/* Range */

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  padding-left: 81px;
}

.price-range {
  display: flex;
  flex-direction: column;
}

.price-range-title {
  margin: 0;
  padding: 0 0 32px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin: 44px 0 0 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.counter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.toggle-min {
  top: -9px;
  left: 0;
}

.toggle-max {
  top: -9px;
  right: -2px;
}

.range-wrapper-inputs {
  display: flex;
}

.range-filter-label {
  position: relative;
  display: flex;
  margin-right: 2px;
}

.range-label-text {
  position: absolute;
  top: 50%;
  right: 20px;
  color: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
  z-index: 1;
}

.range-input {
  position: relative;
  display: block;
  width: 143px;
  padding: 13px 37px 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  border: none;
}

.range-input:focus {
  outline: 3px solid #83b3d3;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input.range-input[type="number"] {
  -moz-appearance: textfield;
}

.range-input.max-price {
  border-radius: 0 4px 4px 0;
}

.range-input.min-price {
  border-radius: 4px 0 0 4px;
}

.price-wrapper-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.button-reset {
  margin-top: 32px;
}

.container-products {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 auto;
  padding: 51px 0 0 0;
}

.controls {
  font-weight: 400;
  line-height: 23px;
}

.inner-filter-list {
  list-style: none;
}

.button-apply {
  padding: 8px 50px;
  border: none;
}

.sort-products {
  display: flex;
  flex-direction: row;
  margin: 0 0 40px 0;
}

.sort-products-title {
  flex-grow: 1;
  margin: auto;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
}


.select-wrapper-control {
  position: relative;
}

.select-control {
  min-width: 292px;
  font-size: 18px;
  font-family: inherit;
  line-height: 21px;
  appearance: none;
  color: #333333;
  margin: 0;
  display: flex;
  border-radius: 4px;
  padding: 11px 18px;
  width: 292px;
  height: 49px;
  justify-content: space-between;
  background-color: transparent;
  border: 2px solid #e5e5e5;
  cursor: pointer;
}

.select-control:hover {
  border: 2px solid #68a2ca;
}

.select-control:focus-visible {
  outline: 2px solid #68a2ca;
  border: 2px solid transparent;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.select-wrapper-control::after {
  position: absolute;
  width: 12px;
  height: 9px;
  background-image: url("../images/select-icon-arrow.svg");
  top: 23px;
  right: 20px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  content: "";
}

.view-buttons {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  margin: 0 0 0 70px;
  padding: 0;
  max-width: 160px;
  list-style: none;

}

.view-buttons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}


.view-buttons-item .active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.view-button-link {
  display: block;
  width: 16px;
  height: 14px;
  padding: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.view-button-link:focus {
  outline: none;
  border-radius: 4px;
  border: 2px solid #68a2ca;
}

.view-button-link:hover,
.view-button-link:active {
  outline: none;
  border-radius: 4px;
  border: 2px solid #000000;
}

.button-tile {
  background-image: url("../images/view-button-tile.svg");
  background-repeat: no-repeat;
}

.button-card {
  background-image: url("../images/view-button-card.svg");
  background-repeat: no-repeat;
}

.button-list {
  background-image: url("../images/view-button-list.svg");
  background-repeat: no-repeat;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
}

.product-card-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.product-card-image {
  display: block;
}

.product-card-title {
  margin: 0;
  padding: 16px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.product-card-content {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  align-items: center;
}

.product-card-type {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.product-card-price {
  font-weight: 400;
  text-align: right;
}

.product-star-rating {
  display: block;
  height: 17px;
  margin: 0;
  background-image: url("../images/icon-star.svg");
  background-repeat: repeat-x;
}

.one-star {
  width: 24px;
}

.two-stars {
  width: 48px;
}

.three-stars {
  width: 72px;
}

.four-stars {
  width: 96px;
}

.five-stars {
  width: 120px;
}

.product-card-rating {
  margin: 0;
  padding: 8px 0;
  min-width: 140px;
  min-height: 37px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-top: 39px;
  margin-bottom: 60px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  background-color: #82b3d3;
  color: #ffffff;
  border-radius: 4px;
}

.pagination-link[href]:hover,
.pagination-link[href]:focus {
  background-color: #68a2ca;
}

.pagination-link[href]:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-more {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
}

.pagination::before {
  content: "";
  position: absolute;
  top: -40px;
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.main-inner .newsletter {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.main-inner .newsletter-description {
  color: #333333;
}

.main-inner .newsletter-field {
  background-color: #f2f2f2;
}

/* Modal window */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-wrapper {
  position: relative;
  width: 717px;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-close-button::before {
  content: "";
  position: absolute;
  top: 19px;
  right: 18px;
  width: 15px;
  height: 15px;
  mask-image: url("../images/icon-close.svg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  outline: none;
}

.modal-close-button:active::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.form-field-group {
  position: relative;
  display: grid;
  grid-template-columns: 137px 440px;
  margin: 0;
  padding: 0;
  ;
  margin-bottom: 23px;
  border: 0;
}

.form-field-input {
  position: relative;
  margin: 0;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.form-field-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-field-input:focus {
  color: #000000;
  outline: 3px solid #83b3d3;
}

.form-field-input:hover {
  background-color: #e6e6e6;
}

.form-field-label {
  margin: auto 0;
  padding-right: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}

.form-field-message {
  grid-column: 2 / 3;
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.error {
  color: #ff5757;
}

.field-group-counter {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: 0;
}

.counter-label {
  margin: auto 0;
  margin-right: 46px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}

.button-info {
  background-image: url("../images/icon-info.svg");
  background-color: #83b3d3;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: none;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.button-info:hover {
  background-color: #68a2ca;
}

.button-info:hover + .tooltip-text,
.button-info:focus + .tooltip-text {
  display: block;
}

.form-field-group::after {
  position: absolute;
  display: block;
  top: 14px;
  right: 20px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-image: url("../images/icon-calendar.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  content: "";
}

.button-calendar:hover {
  opacity: 0.8;
}

.button-calendar:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.counter {
  display: flex;
  text-align: center;
}

.tooltip-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.tooltip-wrapper .counter-label {
  margin-right: 83px;
}

.tooltip {
  position: absolute;
  left: 59px;
  top: 10px;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 19px 18px 22px 22px;
  border-radius: 8px;
  width: 256px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  text-align: left;
}

.tooltip-text::after {
  content: "";
  background-color: #323232;
  width: 19px;
  height: 19px;
  position: absolute;
  transform: rotate(45deg);
  bottom: 90%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-label-icon {
  position: relative;
}

.minus-button,
.plus-button {
  position: relative;
  background: #f2f2f2;
  border: none;
  width: 40px;
  height: 48px;
  padding: 20px;
  cursor: pointer;
  font-family: inherit;
}

.minus-button:focus,
.plus-button:focus {
  outline: none;
  content: "";
}

.minus-button::before,
.plus-button::before {
  position: absolute;
  top: 14px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  content: "";
}

.minus-button:focus::before,
.plus-button:focus::before {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  content: "";
}

.minus-button:active::before,
.plus-button:active::before {
  outline: none;
  content: "";
}

.minus-button::after {
  position: absolute;
  top: 23px;
  left: 14px;
  width: 12px;
  height: 2px;
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
}

.plus-button::after {
  position: absolute;
  top: 3px;
  left: 11px;
  width: 17px;
  height: 2px;
  content: "+";
  font-size: 30px;
  color: rgba(117, 97, 87, 0.3);
}

.minus-button:focus::after {
  background: #000000;
  content: "";
}

.minus-button:hover::after {
  background: #000000;
  content: "";
}

.plus-button:hover::after,
.plus-button:focus::after {
  color: #000000;
  content: "+";
}

.plus-button:active::after {
  color: rgba(117, 97, 87, 0.3);
  content: "+";
}

.minus-button:active::after {
  background-color: rgba(117, 97, 87, 0.3);
  content: "";
}

.counter-input {
  padding: 0;
  width: 31px;
  font-family: inherit;
  border: none;
  background: #f2f2f2;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  z-index: 1;
}

.counter-input::-webkit-outer-spin-button,
.counter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input.counter-input[type="number"] {
  -moz-appearance: textfield;
}

.counter-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.counter-input:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.modal-form-button {
  padding: 19px;
  margin-top: 49px;
  font-weight: 700;
  font-size: 20px;
  border-radius: 10px;
}

.modal-container-close {
  display: none;
}
